<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
	<!-- content -->
	<div class="content_email" style="margin:10px;">
 
		<!-- logo & Company info -->
		<!--
		<div>
			<img src="logo.png" alt="Wenestim"/>
			<p>Wenestim</p>
			<p>Address Line 1</p>
			<p>Address Line 2</p>
			<p>Company Phone</p>
			<p>Company Email</p>
		</div>
		-->
 
		<!-- Approval Result -->
		<div style="margin-top:15px;">
			<p>Dear, ${approvalResult.RECEIVER_NAME}</p>
			<br/>			
			<p>Please review below information in Accounting system.</p>
			<p style="border-bottom: 4px double #000000; margin-top: 15px;"></p>
			<table class="table_overflow">
				<thead style="background-color:#DCE6F1;border:#a5a5a5 2px solid;float:left;width:100%;">
					<tr>
						<th class="th_1" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Company Code</th>
						<th class="th_2" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Document No.</th>
						<th class="th_3" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Document Type</th>
						<th class="th_4" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Posting Date</th>
						<th class="th_5" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Vendor / Customer</th>
						<th class="th_6" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Amount</th>
						<th class="th_7" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Currency</th>
						<th class="th_8" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Header Text</th>
						<th class="th_9" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Approval Date</th>
						#if( $approvalResult.REJECT == "N")
						<th class="th_10" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Approver</th>
						<th class="th_11" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Approval Department</th>						
						#else
						<th class="th_10" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Rejected By</th>
						<th class="th_11" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Rejector Department</th>
						#end
						<th class="th_12" style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;font-size:15px;width:200px;">Comment</th>
					</tr>
				</thead>
				<tbody style="float:left;width:100%;">
					<tr>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.COMPANY_CODE_NAME} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.DOC_NO} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.DOC_TYPE_NAME} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.POST_DATE} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.CORP_NAME} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.DOC_AMOUNT} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.DOC_CURRENCY} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.DOC_TITLE} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.APRL_DATE} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> ${approvalResult.APRL_DEPT_DESC} </td>
						<td style="padding-top:10px;padding-bottom:10px;text-align:left;padding-left:9px;width:200px;"> 
						#if( $approvalResult.REJECT == "N")
							${approvalResult.APRL_REMARK}
						#else
							<span style="color:red;">${approvalResult.APRL_REMARK}</span>
						#end
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<p>Thank You.</p>
			<br/>
			<p><b>This e-mail generated automatically. Do not reply this e-mail.</b></p>
		</div>		
	</div>
	<!-- // end content -->
	</body>
</html>